@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Список клиентов <a href=/ClientP/Index>здесь</a>.</p>
    <p>Список туров <a href=/TourP/Index>здесь</a>.</p>
    <p>Список бронирований <a href=/BookingP/Index>здесь</a>.</p>
</div>
